<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gograd">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <!-- Splash screen -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Page -->
        <activity android:name=".UserPageActivity" />

        <!-- Program Selection Page -->
        <activity
            android:name=".ProgramSelectionActivity"
            android:label="@string/title_activity_program_selection"
            android:parentActivityName=".UserPageActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserPageActivity" />
        </activity>

        <!-- Option Selection Page -->
        <activity
            android:name=".OptionSelectionActivity"
            android:label="@string/title_activity_option_selection"
            android:parentActivityName=".ProgramSelectionActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProgramSelectionActivity" />
        </activity>

        <!-- Search Result Page -->
        <activity
            android:name=".SearchResultActivity"
            android:parentActivityName=".OptionSelectionActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OptionSelectionActivity" />
        </activity>

        <!-- Description of the course -->
        <activity
            android:name=".DescriptionActivity"
            android:parentActivityName=".SearchResultActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchResultActivity" />
        </activity>

        <activity
            android:name=".UserChecklistActivity"

            android:parentActivityName=".UserPageActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserPageActivity" />
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SuggestedCourses"
            android:parentActivityName=".UserChecklistActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserChecklistActivity" />
        </activity>

    </application>

</manifest>